*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #E5E5E5;
    text-transform: uppercase;
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;
}

p{
    margin-bottom: 20px;
    color: #818181;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
h2{
    padding-left: 24px;
    padding-bottom: 11px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
h3{
    flex-grow: 1;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #1D1D1D;
}
.big_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../img/Car.png) center center no-repeat;
    background-size: cover;
    height: 540px;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    height: 540px;
}
.thumbnail{
    width: 100%;
}
.body{
    flex-grow: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.p1{
    color: white;
    padding-left: 24px;
    padding-bottom: 10px;
}