*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #E5E5E5;
    text-transform: uppercase;
}
.container{
    margin-top: 100px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-around;
}
.col-1{
    background: url(../img/Car.png) center center no-repeat white;
    width: 740px;
    height: 540px;
}
.col-2{
    background: url(../img//Thumbnail2.png) center 0px no-repeat white;
    width: 360px;
    height: 540px;
}
.col-3{
    background: url(../img//Thumbnail3.png) center 0px no-repeat white;
    width: 340px;
    height: 540px;

}
.col-4{
    background: url(../img//Thumbnail4.png) center 0px no-repeat  white;
    width: 340px;
    height: 540px;

   
}
.col-5{
    background: url(../img//Thumbnail5.png) center 0px no-repeat white ;
    width: 340px;
    height: 540px;
    display: flex;
  align-items: center;
  
}
p{
    color: #818181;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}
h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #1D1D1D;
}