*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #E5E5E5;
    text-transform: uppercase;
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
p{
    padding-top: 25px;
    padding-left: 25px;
    margin-bottom: 20px;
    width: 106px;
    height: 16px;
    color: #818181;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    width: 419px;
    height: 70px;
}
h3{
    padding-left: 25px;
    padding-bottom: 71px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #1D1D1D;
    width: 266px;
    height: 78px;
}
 .col-4{
     margin: 20px;
    width: 360px;
    height: 540px;
    background-color: #FFFFFF;;
}
span{
    padding-left: 25px;
}
.col-8{

    background: url(../img/Car.png) 0 center no-repeat;
}